/* Main */
.main{
    display: inline;
    margin-block-start: 100px;
    margin-block-end: 100px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 20px 100px;
}
.main_left{
    font-size:17px;
    text-align: left;
    border: 1px solid green;
    padding: 50px;
    /* font-size: 17px; */
    text-align: 0 0 0 10px;
}
.image {
    position: relative;
    text-align: left;
    color: black;
    background-color: white;
}
/* Chữ ở góc trái dưới của hình */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: none;
    color: #FFAB76;
}
.information{
    line-height: 40px;
    padding-left: 35px;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}

/* Skill bar */
.container {
    width: 100%; 
    background-color: #ddd;
    border-radius: 16px;
}
  
.skills {
    text-align: right; /*chữ trên thanh % nằm ở bên phải */
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
    border-radius: 16px;
}
  
.python {
    width: 90%; 
    background-color: #FFAB76;
}
.jsp {
    width: 60%; 
    background-color: #FFAB76;
}
.c {
    width: 50%; 
    background-color: #FFAB76;
}
.skill_bar{
    line-height: 30px;
}